<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>医院管理员管理科室</title>
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__js/bootstrap.min.js"></script>
	<load href="__PUBLIC__/css/bootstrap.min.css" />
	<load href="__PUBLIC__/css/Common/show.css" />

</head>
<body>
<include file="./Application/Login/View/Header/adminheader.html" />

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-4 column">
						<ul class="nav nav-stacked nav-pills">
							<li>
								 <a href="__APP__/Hospital/Apply/lst.html">申请停诊管理</a>
							</li>
							<li>
								 <a href="__APP__/Hospital/Arrange/lst.html">排班管理</a>
							</li>
							<li class="active">
								 <a href="#">科室管理</a>
							</li>
							<li>
								 <a href="__APP__/Hospital/Expert/lst.html">专家管理</a>
							</li><li>
								 <a href="__APP__/Hospital/Change/lst.html">医院信息管理</a>
							</li>
							<li>
								 <a href="__APP__/Hospital/Data/lst">数据报表</a>
							</li>
						</ul>
					</div>
					<div class="col-md-8 column">
						<form class="form-inline" role="form" action="__CONTROLLER__/lst" method="post">
						  	<div class="form-group">
						    	<label class="sr-only" for="name">科室名称</label>
						    	<input type="text" class="form-control" id="name" name="department_name" placeholder="科室名称">
						  	</div>
						  	<button type="submit" class="btn btn-default">搜索</button>
						  	<a href="__APP__/Hospital/Department/add.html" class="btn btn-primary">添加</a>
						</form>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>科室名称</th>
									<th>科室类别</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
					            <volist name="departmentList" id="department" empty="$empty">
					            	<tr>
										<td>{$department['department_name']}</td>
										<td>{$department['department_sort']}</td>
										<td><a href="__CONTROLLER__/deldepartment/department_name/{$department['department_name']}" class="btn btn-danger" onclick="return confirm('请确认是否删除此科室?')";>删除</a></td>
									</tr>
					            </volist>
					            
							</tbody>
						</table>
						<div class="page-list">{$page}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
	</footer>
</body>
</html> 