<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户修改个人信息</title>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__js/bootstrap.min.js"></script>
    <load href="__PUBLIC__/css/bootstrap.min.css" />
    <load href="__PUBLIC__/css/Common/show.css" />

</head>
<body>
<include file="./Application/Login/View/Header/userheader.html" />
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <ul class="nav nav-stacked nav-pills">
                            <li>
                                 <a href="__APP__/User/Appointment/lst.html">预约记录</a>
                            </li>
                            <li class="active">
                                 <a href="#">个人信息</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 column">
                        <form role="form" action="__CONTROLLER__/update" method="post">
                            <div class="form-group">
                                 <label for="user_id">身份证号</label><input type="text" readonly="readonly" class="form-control" id="user_id" name="user_id" value="{$user_id}" />
                            </div>
                            <div class="form-group">
                                 <label for="user_name">姓名</label><input type="text" readonly="readonly" class="form-control" id="user_name" name="user_name" value="{$user_name}" />
                            </div>
                            <div class="form-group">
                                 <label for="user_phone">手机号</label><input type="text" class="form-control" id="user_phone" name="user_phone" value="{$user_phone}" />
                            </div>
                            
                                <button type="submit" class="btn btn-lg btn-primary btn-default">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>