<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>医院管理员管理停诊</title>
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__js/bootstrap.min.js"></script>
	<load href="__PUBLIC__/css/bootstrap.min.css" />
	<load href="__PUBLIC__/css/Common/show.css" />

</head>
<body>
	<include file="./Application/Login/View/Header/adminheader.html" />

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-4 column">
						<ul class="nav nav-stacked nav-pills">
							<li class="active">
								 <a href="#">申请停诊管理</a>
							</li>
							<li>
								 <a href="__APP__/Hospital/Arrange/lst.html">排班管理</a>
							</li>
							<li>
								 <a href="__APP__/Hospital/Department/lst.html">科室管理</a>
							</li>
							<li>
								 <a href="__APP__/Hospital/Expert/lst.html">专家管理</a>
							</li>
							<li>
								 <a href="__APP__/Hospital/Change/lst.html">医院信息管理</a>
							</li>
							<li>
								 <a href="__APP__/Hospital/Data/lst">数据报表</a>
							</li>
						</ul>
					</div>
					<div class="col-md-8 column">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>专家姓名</th>
									<th>申停时间</th>
									<th>原因</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
					            <volist name="applyList" id="apply" empty="$empty">
					            	<tr>
										<td>{$apply['expert_name']}</td>
										<td>{$apply['stop_date']}</td>
										<td>{$apply['reason']}</td>
										<td><a href="__CONTROLLER__/agree/expert_code/{$apply['expert_code']}/stop_date/{$apply['stop_date']}" class="btn btn-success" onclick="return confirm('请确认是否同意此医生的?')";>同意</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="__CONTROLLER__/reject/expert_code/{$apply['expert_code']}/stop_date/{$apply['stop_date']}" class="btn btn-danger" onclick="return confirm('请确认是否同意此医生的?')";>拒绝</a></td>
									</tr>
					            </volist>
					            
							</tbody>
						</table>
						<div class="page-list">{$page}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
	</footer>
</body>
</html> 